<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag "profile.jpg" %>
    </div>

    <div id="content">
        <h1>It's Mr. Stick Figure </h1>
        <p>Cu aliquando similique duo, usu et everti iriure efficiantur, pro eius deseruisse cu. Usu labitur mediocritatem an. Ornatus noluisse adipiscing pri ea, esse propriae ponderum sea ex, partem efficiendi ne mei. Nec ad singulis complectitur. Sonet singulis ea pro, et vix ornatus luptatum principes.</p>
    </div>
</div>